{% extends 'products/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% csrf_token %}

{% block content %}

  
   <!-- myform.html -->
   <body style="background-color: rgb(245, 244, 244)!important;">
    <form class="signup-form" method="post" action="" id="myform" style="align-items: center;">
      <div class="frm" style="align-items: center;">
        {% csrf_token %} 
        <h1 style="background-color: black; color: white; font-weight: bolder;">GENQ KYC FORM</h1>
        <h1>Bio Data</h1>
        <label for="fistname">firstame:</label>
        <input type="text" id="name" name="name" required>
        <br>
        
        <label for="lastname" aria-placeholder="lastname">lastname:</label>
        <input type="text" id="name" name="name" required>
        
        <br>
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>
        <br>
        <label for="gender">Gender:</label>
        <input type="text" id="sex" name="sex" required>
        <h1>Location</h1>
        <br>
        <label for="Country">Country:</label>
        <input type="text" id="status" name="status" required>
        <br>
        <label for="town">Town:</label>
        <input type="text" id="town" name="town" required>
        <br>
        <label for="state">State:</label>
        <input type="text" id="state" name="state" required>
        <label for="zipcode">Zip code:</label>
        <h1>Contacts and address</h1>
        <input type="number" id="zipcode" name="zipcode" required>
        <label for="num1">Phone Number 1</label>
        <input type="number" id="num1" name="num1" required>
        <label for="num2">Phone number 2:</label>
        <input type="number" id="num2" name="num2" required>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
        <input type="submit" value="Submit" id="submitbtn" style="background-color: rgb(255, 193, 9);">
      </div>
   </form>
</body>

{% endblock %}